
body {
  background-color: #ecf3f1; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

h1 {
  color: #343a40; 
  margin-bottom: 20px;
}

h2 {
  width: 150px; 
  height: 150px; 
  line-height: 150px; 
  text-align: center;
  border-radius: 50%; 
  border: 1px solid rgb(65, 98, 99);
  background-color:rgb(95, 144, 146); 
  color: white; 
  display: inline-block; 
  font-size: 3rem; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
  margin: 10px 0px 10px 0px;
}

h3 {
  margin: 20px 0;
  font-size: 24px;
}

input {
  padding: 12px 15px; 
  font-size: 18px;
  border: 2px solid #343a40;
  border-radius: 30px; 
  margin-right: 10px;
  width: 200px; 
  transition: border-color 0.3s ease;
  background: #ecf3f1;
}

input:focus {
  outline: none;
  border-color: #343a40; 
}

button {
  padding: 12px 20px; 
  font-size: 18px;
  background-color: #343a40; 
  color: white;
  border: none;
  border-radius: 30px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s; 
}

button:hover {
  background-color: #343a40; 
  transform: translateY(-2px); 
}

.container {
  max-width: 600px;
  text-align: center;
  padding: 61px 200px 61px 200px;
  border-radius: 20px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
  background-color: #c1dddd; 
  margin: 0; 
  border: 1px solid #d4dde7; 
}

.correct {
  color: green;
  font-weight: bold;
}

.incorrect {
  color: red;
  font-weight: bold;
}

form{
  margin-top: 50px;
}

.button-container {
  position: absolute; 
  top: 20px;         
  left: 20px;        
}